@{
    ViewBag.Title = "Forside";
}

<div class="jumbotron">
    <h1>Byggemarked</h1>
    <p class="lead">Velkommen til @Session["CustomerName"]</p>
    <p><a href="customer/details/" class="btn btn-primary btn-lg">Dine oplysninger &raquo;</a></p>
</div>